.linkList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

svg:hover, svg:focus {
    color: #8744CB !important;
    transition: .3s;
    cursor: pointer;
}

svg {
    transition: .3s;
}

